/* fonts */

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: 
      local("Gilroy ExtraBold"),
      url("../fonts/gilroyextrabold.woff2") format("woff2"),
      url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: 
      local("Gilroy Light"),
      url("../fonts/gilroylight.woff2") format("woff2"),
      url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: 
      local('Open Sans Regular'),
      url("../fonts/opensans.woff2") format("woff2"),
      url("../fonts/opensans.woff") format("woff");
}

/* colors */
:root{
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #4646464;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;
  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;

  --font-gilroy: "Gilroy", "Arial", sans-serif;
  --font-open-sans: "Open Sans", "Arial", sans-serif;
}

/* global */

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  color: var(--basic-black);
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

a:focus {
  opacity: 0.3;
}

img {
  max-width: 100%;
  height: auto;
}

/* site navigation */

.header-nav{
  width: 1160px;
  height: 300px;
  background-color: var(--special-yellow);
}

.user-menu li{
  display: inline;
}

.catalog-menu li{
  display: inline;
}


.main-menu li{
  display: inline;
}

.catalog-menu li{
font-family: var(--font-gilroy);
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.1em;
text-transform: uppercase;
}

.category__icon{
  background-image: url();
}


/* partners */
.category-item{
  display: inline;
}

.category__icon{
  margin: 40px;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);

}

.category__icon:hover{
  background-color: var(--special-yellow-dark);
}

/* advantage */
.advantage{
  background-color: var(--basic-grey-light);
}

/* footer */
footer{
  color: var(--basic-white); 
  background-color: var(--basic-dark);
}

/* modal */
.modal__input,
.modal__textarea{
  background-color: #F2F2F2;
  border: none;
}

.btn-close{
  background-color: var(--special-yellow);
  border: none;
}
